@keyframes fadeOut{
    0% {
        opacity: 0;
    } 30% {
        opacity: 1;
    } 70% {
        opacity: 1;
    } 100% {
        opacity: 0;
    }
}

@keyframes fadeOutLong{
    0% {
        opacity: 0;
    } 15% {
        opacity: 1;
    } 85% {
        opacity: 1;
    } 100% {
        opacity: 0;
    }
}

@keyframes simpleFadeIn{
    0% {
        opacity: 0;
    } 35% {
        opacity: 1;
    } 100% {
        opacity: 1;
    }
}

@keyframes simpleFadeOut{
    0% {
        opacity: 1;
    } 65% {
        opacity: 1;
    } 100% {
        opacity: 0;
    }
}

@keyframes fadeIn{
    0% {
        opacity: 0;
    } 100% {
        opacity: 1;
    }
}

@keyframes slideUp{
    0% {
        transform: translateY(-50%);
    } 100% {
        transform: translateY(calc(0% + 10px));
    }
}

@keyframes slideDown{
    0% {
        transform: translateY(50%);
    } 100% {
        transform: translateY(calc(0% - 10px));
    }
}

@keyframes opacityHeartbeat{
    0% {
        opacity: 1;
    } 50% {
        opacity: 0;
    } 100% {
        opacity: 1;
    }
}

.puzzleCanvas{
    all: initial;
    position: fixed;
    top: 0;
    z-index: 9999;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.halfScreenFlex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 450px;
    height:300px;
    border: 5px solid rgb(0, 78, 75); 
    border-radius: 15px;  
    background-size: cover;
}

#upperScreen{
    color: black;
    transform: translateY(50%);
}

#upperScreen h1 {
    margin: 0px;
    font-size: 3em;
}

#upperScreen h3 {
    margin: 5px;
}

#lowerScreen{
    transform: translateY(-50%);
}

#lowerScreen:hover {
    cursor: pointer;
}

.puzzleTitleNumber{
    visibility: hidden;
    color: white;
}

.blackScreen {
    z-index: 15;
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 10px;
}


.leftButtons {
    visibility: hidden;
    position:absolute;
    display: inline-flex;
    column-gap: 5px;
    left:5px;
    bottom: 0px;
}

.rightButtons {
    visibility: hidden;
    position: absolute;
    background-color: brown;
    right:10px;
    bottom: 0px;
}

.puzzleButton {
    z-index: 11;
    width: 70px;
    height: 25px;
    background-color: rgb(0, 104, 202);
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    border: 2px solid white;
    border-bottom: 0px;
    color: white;
}


#hintsButton {
    background-color: #a95d00;
}
#hintsButton:hover{
    cursor: pointer;
    background-color: #723f00;
}

#outButton {
    background-color: #388089;
}
#outButton:hover{
    cursor: pointer;
    background-color: #005d5d;
}

#submitButton {
    background-color: #973a00;
}
#submitButton:hover{
    cursor: pointer;
    background-color: #5d1f00;
}

.puzzleStatement {
    padding: 20px;
    text-align: justify;
}

#picaratsCount {
    visibility: hidden;
    animation: opacityHeartbeat 3s ease-in-out infinite;
    animation-delay: 2s;
}


.puzzle001Img{
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
    visibility: hidden;
}

.puzzle001Img:hover{
    cursor: pointer;
}

.rotateButton {
    position: absolute;
    bottom: 0px;
    right: 0px;
    left: 0px;
    z-index: 11;
    margin: auto;
    width: 50px;
    height: 35px;
}

.rotateButton:hover {
    cursor: pointer;
    transform: scale(1.1);
}

.selection {
    position: absolute;
    z-index: 11;
    width: 25px;
    height: 25px;
}

.deductionImg {
    position: fixed;
    object-fit: cover;
    width: 100%;
    height: 100%;
    z-index: 20;
    opacity: 0;
    animation: fadeOut 0.5s linear forwards;
}

.resultImg {
    position: fixed;
    object-fit: cover;
    width: 100%;
    height: 100%;
    z-index: 20;
    opacity: 0;
    animation: simpleFadeIn 3s linear forwards;
}

.lowerScreenCover {
    position: fixed;
    object-fit: cover;
    width: 100%;
    height: 100%;
    z-index: 20;
}

.deductionImg {
    opacity: 0;
    animation: fadeOut 0.5s linear forwards;
}

.resultImg {
    opacity: 0;
    animation: simpleFadeIn 3s linear forwards;
}

.puzzleContainer {
    z-index: 10;
}