@keyframes coinJump {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(0px);
  }
}

@keyframes appear {
  0% {
    transform: translateX(500px);
  }
  50% {
    transform: translateX(0px);
  }
  100% {
    transform: translateX(0px);
  }
}

@keyframes dissapear {
  0% {
    transform: translateX(0px);
  }
  50% {
    transform: translateX(0px);
  }
  100% {
    transform: translateX(500px);
  }
}

.coin { 
  position: absolute; 
  z-index: 9999; 
  width: 15px; 
  height: 15px;
  animation: coinJump 0.5s;
}

.coinAmount {
    position: fixed;
    top: 15px;
    right: 15px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    z-index: 9999;
    
    font-size: 1em;
    font-family: 'DotGothic16', sans-serif;
  
    border: 3px inset rgba(48,16,9,255);
    background-color: rgba(255,247,189,255);
    border-radius: 5px;

    animation: appear 1s;
    
  }

  .coinAmountDissapear{
    animation: dissapear 1s;
  }
  
  .coinAmount p{
    color: black;
    font-size: 1em;
    margin: 10px;
  }
  
  .coinAmount img{
    margin: 10px;
  }
